{% extends "base.html" %}
{% block content %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<div class="alert alter-danger">{{error}}</div>  <!--非特定字段错误-->
{% endfor %}
{% endif %}

{% if form.new_password1.errors %}
{% for error in form.new_password1.errors %}
<div class="alert alter-danger">新密码：{{error}}</div>
{% endfor %}
{% endif %}
{% if form.new_password2.errors %}
{% for error in form.new_password2.errors  %}
<div class="alert alter-danger">重复输入密码：{{error}}</div>
{% endfor %}
{% endif %}


<div class="col-xs-12 col-md-12">

    <div class="panel panel-info">

        <div class="panel-heading">
            <h3 class="panel-title">请输入新密码：</h3>
        </div>

        <div class="panel-body">

            {% if validlink %}

            <form action="" method="POST">{% csrf_token %}


                <div class="input-group">
                    <span>新密码&nbsp&nbsp&nbsp&nbsp：</span>
                    <input id="id_new_password1" name="new_password1" type="password"/>
                </div>

                <br/>

                <div class="input-group">
                    <span>重复输入新密码：</span>
                    <input id="id_new_password2" name="new_password2" type="password"/>
                </div>
                <br/>

                <input class="btn btn-primary" type="submit" value="提交"/>

            </form>
            {% else %}
            链接失效
            {% endif %}

        </div>
    </div>

</div>
</div>


{% endblock %}


<!--<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">@</span>
  <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
</div>-->