{% extends "base.html" %}
{% block content %}

<div class="col-xs-12 col-md-12">

    <div class="panel panel-info">

            <div class="panel-heading">
                <h3 class="panel-title">请提交已注册邮箱地址：</h3>
            </div>
        <div class="panel-body">
            <form class="form-inline" action="" method="POST">{% csrf_token %}
                <div class="form-group">
                    <label class="col-xs-12 col-md-4 ">
                        <h4>电子邮箱</h4>
                    </label>

                    <div class="col-xs-12 col-md-8">
                        <input id="id_email" type="email" class="form-control" name="email"
                               placeholder="jane.doe@example.com"/>
                    </div>
                </div>
                <input type="submit" value="提交" class="btn btn-primary"/>
            </form>
        </div>
    </div>
</div>
{% endblock %}

