{% extends "base.html" %}
{% block content %}

<div class="col-xs-12 col-md-12">
    <ol class="breadcrumb">
        <li><a href="/">首页</a></li>
        <li><a href="/article/list/{{b.id}}">{{b.name}}文章列表</a></li>
        <li>发表文章</li>
    </ol>
</div>

<div class="col-xs-12 col-md-10">

    {% for field in form %}
        {% if field.errors %}
            {% for error in field.errors %}
                <div class ="alert alert-danger">{{field.label}}{{error}}</div>
            {% endfor %}
        {% endif %}
    {% endfor %}

    <form action="/article/create/{{b.id}}" method="POST">{% csrf_token %}
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-xs-12 col-md-2">
                    <center>标题</center>
                </label>

                <div class="col-xs-10 col-md-10">
                    <input class="form-control" placeholder="标题" type="text" name="title" value="{{form.title.value}}">
                    <br/><br/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-12 col-md-2">
                    <center>作者</center>
                </label>

                <div class="col-xs-10 col-md-10">
                    <input class="form-control" placeholder="作者" type="text" name="owner" value="{{form.owner.value}}">
                    <br/><br/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-12 col-md-2">
                    <center>内容</center>
                </label>

                <div class="col-xs-10 col-md-10">
                    <textarea class="form-control" rows="6" name="content" placeholder="在此输入内容……">{{form.content.value}}</textarea>
                    <br/><br/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-primary">发布</button>
                </div>
            </div>
        </form>
    </form>
</div>

{% endblock %}