{% extends "base.html" %}
{% block content %}

<div class="col-xs-12 col-md-12">
    <ol class="breadcrumb">
        <li><a href="/">首页</a></li>
        <li class="active">{{b.name}}</li>
    </ol>
</div>


<div class="col-xs-12 col-md-4">
    <button type="button" class="btn btn-primary"><a href="/article/create/{{b.id}}"><font color="white">在{{b.name}}发表文章</font></a></button>
    <br/>
    <br/>
</div>



<div class = "col-xs-12 col-xs-12">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>标题</th>
                <th>内容</th>
                <th>状态</th>
                <th>作者</th>
                <th>创建时间</th>
                <th>最后更新时间</th>
            </tr>
        </thead>
        <tbody>
          {% for article_detail in articles %}
                <tr>
                    <td><a href="/article/detail/{{article_detail.id}}">{{article_detail.title}}</a></td>
                    <td style="width:500px">{{article_detail.content}}</td>
                    <td>{{article_detail.get_status_display}}</td>
                    <td>{{article_detail.owner}}</td>
                    <td style="width:165px">{{article_detail.create_timestamp|date:"Y-m-d P"}}</td>
                    <td style="width:165px">{{article_detail.last_update_timestamp|date:"Y-m-d P"}}</td>

                </tr>
           {% endfor %}
        </tbody>
    </table>
</div>
<br/>
<br/>
<br/>

<div class = "col-xs-12 col-xs-12">
    <nav aria-label="Page navigation">

    <ul class="pagination">

        {% if p__page.has_previous %}
        <li><a href="?page_no=1">首页</a></li>
        <li><a href="?page_no={{p__page.previous_page_number}}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a></li>{% endif %}

        {% for current__page in p__links%}
        {% if current__page == p__page.number%}
        <li class="active"><a href="?page_no = {{current__page}}">{{current__page}}</a></li>
        {% else %}
        <li class=""><a href="?page_no={{current__page}}">{{current__page}}</a></li>
        {% endif %}
        {% endfor %}

        {% if p__page.has_next %}
        <li><a href="?page_no = {{p__page.next_page_number}}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a></li>
        <li><a href="?page_no={{p__p.num_pages}}">跳至尾页</a></li>
    </ul>{% endif %}

    </nav>
</div>
{% endblock %}