{% extends "base.html" %}
{% block content %}

<div class="col-xs-12 col-md-12">
    <ol class="breadcrumb">
        <li><a href="/">首页</a></li>
        <li class="active">{{b.name}}</li>
    </ol>
</div>


<div class="col-xs-12 col-md-4">
    <button type="button" class="btn btn-primary"><a href="/article/create/{{b.id}}"><font color="white">在{{b.name}}发表文章</font></a></button>
    <br/>
    <br/>
</div>



<div class = "col-xs-12 col-xs-12">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>状态</th>
                <th>标题</th>
                <th>内容</th>
                <th>作者</th>
                <th>最后更新时间</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{article.status}}</td>
                    <td>{{article.title}}</td>
                    <td>{{article.content}}</td>
                    <td>{{article.author}}</td>
                    <td>{{article.last_update_timestamp|date:"Y-m-d P"}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br/>
<br/>
<br/>

<div class = "col-xs-12 col-xs-12">
    <nav aria-label="Page navigation">
    <ul class="pagination">
        <li>
        <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
</div>
{% endblock %}