{% extends "base.html" %}
{% block content %}

<div class="col-xs-12 col-md-12">
    <ol class="breadcrumb">
        <li><a href="/">首页</a></li>
        <li class="active">{{b.name}}</li>
    </ol>
</div>


<div class="col-xs-12 col-md-4">
    <button type="button" class="btn btn-primary"><a href="/article/create/{{b.id}}"><font
            color="white">在{{b.name}}发表文章</font></a></button>
    <br/>
    <br/>
</div>


<div class="col-xs-12 col-xs-12">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>标题</th>
            <th>内容</th>
            <th>状态</th>
            <th>作者</th>
            <th>创建时间</th>
            <th>最后更新时间</th>
        </tr>
        </thead>
        <tbody>
        {% for article_detail in articles %}
        <tr>
            <td><a href="/article/detail/{{article_detail.id}}">{{article_detail.title}}</a></td>
            <td style="width:500px">{{article_detail.content}}</td>
            <td>{{article_detail.get_status_display}}</td>
            <td>{{article_detail.owner}}</td>
            <td style="width:165px">{{article_detail.create_timestamp|date:"Y-m-d P"}}</td>
            <td style="width:165px">{{article_detail.last_update_timestamp|date:"Y-m-d P"}}</td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<br/>
<br/>
<br/>

{% include "pagination.html" %}

{% endblock %}