{% extends "base.html" %}
{% block content %}

<div class="col-xs-12 col-md-12">
    <ol class="breadcrumb">
        <li><a href="/">首页</a></li>
        <li><a href="/article/list/{{article_detail.block.id}}">{{article_detail.block}}</a></li>
        <li>{{article_detail.title}}</li>
    </ol>
</div>

<div class="col-xs-12 col-md-12">
    <table class="table table-bordered">
        <tbody>
        <tr>
            <td style="width:300px">作者：{{article_detail.owner}}</td>
            <td>{{article_detail.content}}</td>
        </tr>

        {% for comment in comments %}
        <tr>
            <td style="width: 300px;">
                作者: {{ comment.owner.username }}
            </td>
            <td>
                {{ comment.content|linebreaksbr }}
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
</div>

{% include "pagination.html" %}

<!--以上都为页面展示部分,以下为评论创建><-->

<!--评论创建首先要把框架先做出来><-->
<table id="replyRegion" class="table mainTable">
    <tr>
        <td class="author">
            <br/>
            <center>作者：{{ user.username }}</center>
        </td>
        <td class="content">
            <textarea class="form-control" id="commentContent" rows="3"></textarea>
            <br/>
            <button class="btn btn-primary" id="commentBtn">发表评论</button>
            <br/>
            <br/>
        </td>
    </tr>
</table>
<!--注意这几个属性的控制，以后写页面就注意ID和class的写法，很方便><-->
<style type="text/css">
    .mainTable td.author {
    width: 10%;
    }
    .mainTable td.content {
    width: 80%;
    }
</style>

<script type="text/javascript" src="/static/javaScript/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/javaScript/jquery.csrf.js"></script> <!--这里用JS实现返回功能，没有form，用此语句实现csrf><-->
<script type="text/javascript">
$(document).ready(function () {
  var article_id = {{ article_detail.id }};
  var page_cnt = {{ pagination_data.page_cnt }};

  $("#commentBtn").click(function () {
    var comment = $("#commentContent").val();
    var param = {"article_id": article_id, "content": comment};
    $.post("/comment/create/", param, function (data) {
      var ret = JSON.parse(data);
      if (ret["status"] == "ok") {
          $("#commentContent").val("");
          window.location.href = "/article/detail/{{ article.id }}?page_no=" + (page_cnt + 1);
      } else {
          alert(ret["message"]);
      }
    });
  })
});


</script>

{% endblock %}

