{% extends "base.html" %}
{% block content %}

<div class="col-xs-12 col-md-12">
    <ol class="breadcrumb">
        <li><a href="/">首页</a></li>
        <li><a href="/article/list/{{article_detail.block.id}}">{{article_detail.block}}</a></li>
        <li>{{article_detail.title}}</li>
    </ol>
</div>

<div class="col-xs-12 col-md-12">
    <table class="table table-bordered">
        <tbody>
        <tr>

            <td style="width:300px">作者：{{article_detail.owner}}</td>
            <td>{{article_detail.content}}</td>

        </tr>
        </tbody>
    </table>
</div>
{% endblock %}