
    <!doctype html>
    <html>
            <head>
                <meta charset="utf-8" />
                <title>弗雷迪智力资本投资有限公司</title>
                <link rel="stylesheet"href="/static/css/bootstrap.min.css"/>
            </head>

            <body>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                          <div class="jumbotron">
                             <center>
                                <a href="https://www.zhihu.com/question/19596028"style="font-size:60px;"> 弗雷迪智力资本投资</a>
                             <img src=
                                           "https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1487663625920&di=f23e7a8cbfc47fc912b1283ddb1a2f05&imgtype=0&src=http%3A%2F%2Fwww.headin.cn%2FUpload%2FNews%2Fe39f8ad9-de48-46d7-8a44-d7e211aae0ff.jpg"
                                   class="img-responsive" alt="Responsive image">
                             </center>
                          </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-10">
                            {% for b in blocks %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                        <a href="#" style="font-size: 16px;">{{b.name}}</a>
                                        <span class="pull-right">{{b.admin}}</span>
                                </div>
                                <div class="panel-body">
                                   {{b.descp}}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="col-xs-12 col-md-2">
                            <div class="well">
                                <a href="https://instant.1point3acres.com/welcome">采集箱</a>
                            </div>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
             </body>
    </html>
